<div class="page-content">
  @if (error()) {
    <mat-error class="mat-accent error-message">{{ error() }}</mat-error>
  }

  @if (!loading()) {
    <div class="form-container">
      <app-user-form
        [user]="user()"
        [currentUser]="currentUser()"
        (save)="handleSave($event)"
        (cancel)="goBack()"
        (changePassword)="openChangePasswordDialog()"
        [disabled]="loading()"
      />
    </div>
  } @else {
    <div class="flex-center">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
  }
</div>
