<div class="page-header">
  <h2>{{ user()?.id ? 'Edit' : 'Create' }} User</h2>
</div>

<div class="page-content">
  @if (error()) {
    <mat-error>{{ error() }}</mat-error>
  }

  @if (!loading()) {
    <app-user-form [user]="user()" (save)="handleSave($event)" (cancel)="goBack()" [disabled]="loading()" />
    @if (user()?.id) {
      <div class="flex" style="justify-content: flex-end; margin-top: var(--spacing-xl)">
        <button mat-raised-button color="accent" type="button" (click)="openChangePasswordDialog()">
          <mat-icon>lock</mat-icon>
          Change Password
        </button>
      </div>
    }
  } @else {
    <div class="flex-center">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
  }
</div>
