<div class="page-header">
  <div class="header-content">
    <div class="header-left">
      <button mat-icon-button (click)="goBack()" class="back-button" matTooltip="Back to Users">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h2>{{ user()?.id ? 'Edit' : 'Create' }} User</h2>
    </div>
  </div>
</div>

<div class="page-content">
  @if (error()) {
    <mat-error class="error-message">{{ error() }}</mat-error>
  }

  @if (!loading()) {
    <div class="form-container">
      <app-user-form
        [user]="user()"
        [currentUser]="currentUser()"
        (save)="handleSave($event)"
        (cancel)="goBack()"
        (changePassword)="openChangePasswordDialog()"
        [disabled]="loading()"
      />
    </div>
  } @else {
    <div class="flex-center">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
  }
</div>
