.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--spacing-md);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

.error-message {
  max-width: 800px;
  box-sizing: border-box;
  margin-bottom: var(--spacing-md);
  padding: var(--spacing-md);
  border-radius: 4px;
  background-color: var(--color-error-light);
  word-wrap: break-word;
  overflow-wrap: break-word;
}
